body{
    font-family: lato,sans-serif;
    position: relative;
}

/* Header */

.logo{
    padding-right: 15px;
}

.logo-text{
    color: #ff6f22;
    font-size:14px; 
    text-align:left;
    max-width: 200px;
}

.navbar{
    padding: 15px 0;
    border-bottom: rgb(206, 206, 206) solid 1px;
}

.navbar-light .navbar-nav .nav-link{
    color: #666;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #ff6f22; 
}

.navbar-light .navbar-nav .nav-item a:hover {
    color: #ff6f22;
}

/* End-Header */

/* Main */
.main-bg{
    position: relative;
}

.main-bg:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0.9; */
    background-image: url(../images/main-background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.main-content{
    position: relative;
}

.main-bg h2, .main-bg h3, .main-bg p{
    color: #fff;
    word-wrap: break-word;
    line-height: 1.2;
    text-align: left;
}

.main-bg h2{
    font-size: 45px;
    font-family: bitter, georgia, serif;
}

.main-bg h3{
    font-size: 32px;
    font-family: "playfair display", serif;
    font-weight: 700;
}

.main-bg p{
    font-size: 20px;
    font-family: "playfair display", serif;
    line-height: 1.45;
}

#app{
    padding-top: 100px;
}
/* End-Main */

/* Start_About */
.about h2{
    color: #ff6f22;
    font-weight: 700;
    font-family: bitter, georgia, serif;
}

.about p{
    line-height: 1.45;
    word-wrap: break-word;
    color: #333;
    font-size: 27px;
    font-family: "playfair display", serif;
}

.about-border{
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(206, 206, 206);
}
/* End_About */

/* Start_LearnMore */
.LearnMore h2{
    color: #ff6f22;
    font-weight: normal;
    font-family: bitter, georgia, serif;
}

.LearnMore h3{
    color: #ff6f22;
    font-weight: normal;
    font-size: 24px;
    font-family: bitter, georgia, serif;
}

.LearnMore .LearnMore_text{
    font-family:  "open sans", sans-serif;
    line-height: 1.45;
    word-wrap: break-word;
    color: #50555c;
    font-size: 16px;
}

.LearnMore a{
    color: #ff6f22;
}

.LearnMore p{
    line-height: 1.45;
    word-wrap: break-word;
    color: #333;
    font-size: 27px;
    font-family: "playfair display", serif;
}

.LearnMore-border{
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(206, 206, 206);
}
/* End_LearnMore */

/* Start_FAQ */
.faq h2{
    color: #ff6f22;
    font-weight: normal;
    font-family: bitter, georgia, serif;
}

.faq h3 a{
    color: #50555c;
    font-weight: normal;
    font-size: 24px;
    font-family: "playfair display", serif;
    text-decoration: none;
}

.faq .faq_text{
    font-family:  "open sans", sans-serif;
    line-height: 1.45;
    word-wrap: break-word;
    color: #333;
    font-size: 12px;
    text-align: left;
}

.LearnMore a{
    color: #ff6f22;
}

.faq-border{
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(206, 206, 206);
}
/* End_FAQ */