body{
    font-family: lato,sans-serif;
}

/* Header */

.logo{
    padding-right: 15px;
}

.logo-text{
    color: #ff6f22;
    font-size:14px; 
    text-align:left;
    max-width: 200px;
}

.navbar{
    padding: 15px 0;
    border-bottom: rgb(206, 206, 206) solid 1px;
}

.navbar-light .navbar-nav .nav-link{
    color: #666;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #ff6f22; 
}

.navbar-light .navbar-nav .nav-item a:hover {
    color: #ff6f22;
}

/* End-Header */

/* Main */
.main-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    opacity: 0.75;
    background-image: url(../images/main-background.jpg);
}

/* End-Main */

/* Start_About */
.about h2{
    color: #ff6f22;
    font-weight: 700;
    font-family: bitter, georgia, serif;
}

.about p{
    line-height: 1.45;
    word-wrap: break-word;
    color: #333;
    font-size: 27px;
    font-family: "playfair display", serif;
}

.about-text{
    padding-bottom: 60px;
    border-bottom: 2px solid #666;
}
/* End_About */

/* Start_LearnMore */
.LearnMore h2{
    color: #ff6f22;
    font-weight: normal;
    font-family: bitter, georgia, serif;
}

.LearnMore h3{
    color: #ff6f22;
    font-weight: normal;
    font-size: 24px;
    font-family: bitter, georgia, serif;
}

.LearnMore .LearnMore_text{
    font-family:  "open sans", sans-serif;
    line-height: 1.45;
    word-wrap: break-word;
    color: #50555c;
    font-size: 16px;
}

.LearnMore a{
    color: #ff6f22;
}

.LearnMore p{
    line-height: 1.45;
    word-wrap: break-word;
    color: #333;
    font-size: 27px;
    font-family: "playfair display", serif;
}

.LearnMore-text{
    padding-bottom: 60px;
    border-bottom: 2px solid #666;
}
/* End_About */