body{
    font-family: lato,sans-serif;
}

/* Header */

header{
    padding: 8px 0;
    background-color: #fff;
    font-family: inherit;
}

.logo{
    padding-right: 15px;
}

.logo-text{
    color: #ff6f22;
    font-size:14px; 
    text-align:left;
    max-width: 200px;
}

.navbar-light .navbar-nav .nav-link{
    color: #666;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #ff6f22; 
}

.navbar-light .navbar-nav .nav-item a:hover {
    color: #ff6f22;
}